/* rem and em do NOT depend on html font-size in media queries.
instead, 1rem=1em=16px */

/* we start decreasing window size to reach the point that every 
thing start looks bad and then set media from that point.
for example if it is 1366px then we devide it to 16px:
1366/16px=84.375  = 84
then set @media (max-width:84em){}
*/
/* ***************************************** */

/******************************************************/
/* BELOW 1400px (Landscape Tablets) */
/******************************************************/

@media (max-width: 88rem) {
  /* ******************News**************** */

  .Newsfigure {
    width: 35rem;
  }
  .NewsMain {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 79rem) {
  /* ******************News**************** */

  .Newsfigure {
    width: 30rem;
  }
}
/******************************************************/
/* BELOW 1120px (Landscape Tablets) */
/******************************************************/

@media (max-width: 70rem) {
  /* ******************News**************** */
  .Newsfigures {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .Newsfigure {
    width: 35rem;
  }
  .SideWhatToDoNav img {
    width: 15rem;
  }
  .HeroTxt {
    grid-template-rows: 15rem 6rem 8rem;

    padding-top: 10rem;
  }
}

/******************************************************/
/* BELOW 992px (Smaller desktops) */
/******************************************************/

@media (max-width: 62rem) {
  /* ************* Hero ************* */

  .NavList {
    font-size: 1.6rem;
    gap: 2rem;
  }
  .Btn {
    font-size: 1.8rem;
  }
  .YourIdeaBtn {
    margin-left: 1rem;
  }
  .HeroTxtheader {
    font-size: 4.6rem;
  }
  .HeroTxtLink {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.4rem 3rem;
  }

  /* ************* companies ************* */
  .CompaniesHeader {
    font-size: 1.8rem;
  }
  .companyLogo {
    height: 2.4rem;
  }
  .CompaniesLogos {
    display: flex;
    align-items: center;
    justify-items: space-between;
    gap: 2.4rem;
    flex-wrap: wrap;
  }

  /* ************* Disaster ************* */
  .Disaster {
    margin: 8rem auto;
  }

  /* ************* PeopleSolution ************* */
  .PeopleSolution {
    margin: 12rem auto;
  }
  .Figures {
    grid-template-columns: 1fr 1fr;
  }
  #FigureDispaly3 {
    display: none;
  }
  .PeopleImg {
    height: 9rem;
  }
  .FigureLi {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  /* ******************Footer**************** */
  .Footer {
    font-size: 1.4rem;
  }

  /* ******************CTA**************** */
  .Cta {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* ******************News**************** */
  .Newsfigure {
    width: 35rem;
  }
  .NewsMain {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
  }
}

/******************************************************/
/* BELOW 848px (Landscape Tablets) */
/******************************************************/
@media (max-width: 53rem) {
  html {
    font-size: 50%;
  }
  .logo {
    width: 15rem;
  }

  /* ******************CTA**************** */
  .CtaForm {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  .FullName {
    grid-column: 1;
    grid-row: 1;
  }
  .Email {
    grid-column: 1;
    grid-row: 2;
  }
  .Ideas {
    grid-column: 1;
    grid-row: 3;
  }
  .FormBtn {
    grid-column: 1;
    grid-row: 4;
  }
}

/******************************************************/
/* BELOW 720px (Phones & Smaller tablets) */
/******************************************************/
@media (max-width: 45rem) {
  html {
    font-size: 45%;
  }
  /* ********************NAV**************** */
  #dropdownPart {
    display: flex;
    position: absolute;
    top: 5rem;
    right: 5rem;
  }
  .logo {
    width: 13rem;
  }
  .NavList {
    /* position: absolute;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    color: #214250;
    font-size: 2.4rem; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  /* ********************Hero**************** */

  .HeroTxt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13rem 6rem 9rem;
    column-gap: 0;
    row-gap: 2rem;
    padding-top: 10rem;
  }
  .HeroTxtheader {
    font-size: 4.3rem;
  }

  /* ********************companies**************** */

  .CompaniesHeader {
    display: none;
  }

  .Companies {
    margin: 4rem auto;
    display: flex;
  }
  .CompaniesLogos {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: auto;
  }
  /* ********************Disaster**************** */
  .Disaster {
    grid-template-rows: 8rem 18rem 18rem;
    margin: 4rem auto;
  }
  .Disaster h2 {
    font-size: 2.2rem;
  }
  .Disaster P {
    font-size: 1.4rem;
    line-height: 1.4;
  } 

  /* ******************PeopleSolution**************** */
  .PeopleSolution {
    margin: 6rem auto;
  }
  #FigureDispaly2 {
    display: none;
  }

  #FigureDispaly3 {
    display: none;
  }
  .Figures {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .PeopleSolutionHeader {
    font-size: 2.4rem;
  }
  .PeopleImg {
    height: 9rem;
  }
  .FigureLi {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  /* ******************Footer**************** */
  .Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
    position: relative;
    margin-top: 15rem;
  }
  .FooterLogos {
    align-items: center;
    margin: 0.1rem auto;
    position: absolute;
    top: -3rem;
    margin-left: calc(50% - 78.56px);
    border: 2px solid #a4e8e0;
  }
  /* .logoBottom {
    border-top: 1px solid #888;
  } */
  .FooterWebLinks {
    justify-self: center;
    margin-top: 6rem;
  }
  .FooterWebLinks ul,
  .Connect ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6;
  }
  .LogoBottom {
    scale: 50%;
  }
  .SocialMediaIconLink {
    scale: 70%;
  }

  /* ******************News**************** */
  .Newsfigures {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .Newsfigure {
    width: 38rem;
  }
  /* ******************What to do**************** */
  .WhatToDoGrid {
    display: grid;
    grid-template-columns: 10fr 0.8fr;
    gap: 1rem;
    justify-content: space-between;
  }
  .SideWhatToDoNav {
    padding: 2rem 0rem;
    box-shadow: none;
    border-radius: 0rem;
    gap: 3rem;
    position: fixed;
    right: 1rem;
    clip-path: polygon(50% 0%, 80% 0%, 80% 100%, 50% 100%);
    margin-top: 20rem;
  }
  .SideWhatToDoNav img {
    height: 100%;
    /* clip-path: circle(3rem); */
    clip-path: polygon(50% 0%, 80% 0%, 80% 100%, 50% 100%);
  }
  .SideWhatToDoNav .SectionParagraph {
    display: none;
  }

  .WhatToDoGrid .OtherSection {
    padding: 10rem 2rem;
    box-shadow: none;
    border-radius: 0;
    border-right: 2px solid #e1c340;
  }
  .WhatToDoGrid .SideWhatToDoNav {
    justify-self: right;
  }
  /* ******************CTA**************** */
  .UplodedIdeaSection {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 1rem;
  }
  /* ******************Shop**************** */
  .Header2 .NavMenu {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }
  .Header2 .NavList {
    display: none;
  }
  /* .SearchShop input {
    width: 60%;
  }
} */
