/*************************************/
/* Hero */
/*************************************/

.HeroImg {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(40, 40, 40, 0.6)
    ),
    url(../img/HeroImg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
}

.HeroTxt {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 15rem 6rem 12rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  grid-auto-rows: min-content;
  column-gap: 6.4rem;
  row-gap: 1rem;
  padding-left: 3.2rem;
  padding-top: 10rem;
}
.HeroTxtheader {
  grid-column: 1/2;
  grid-row: 1;
  font-size: 4.8rem;
}
.HeroTxtParapraph {
  grid-column: 1/2;
  grid-row: 2;
  font-size: 2rem;
  line-height: 1.6;
}
.HeroTxtLink {
  justify-self: start;
  align-self: end;
  grid-column: 1/2;
  grid-row: 3;
}

/*************************************/
/* Companies */
/*************************************/

.Companies {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
  align-items: center;
  justify-items: center;
  row-gap: 2rem;
  margin: 2rem auto;
}
.CompaniesHeader {
  color: #ccc;
  font-size: 2.4rem;
}
.companyLogo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 30%;
}
.CompaniesLogos {
  display: flex;
  align-items: center;
  justify-items: space-between;
  gap: 3.2rem;
  flex-wrap: wrap;
}

/*************************************/
/* Disaster */
/*************************************/

.Disaster {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 12rem 16rem 14rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 6rem auto;
}

/*************************************/
/* PeopleSolution */
/*************************************/

.PeopleSolution {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  margin: 10rem auto;
}
.PeopleSolutionHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.Figures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1;
  justify-items: center;
  align-content: center;
  margin-bottom: 4rem;
}
.figure {
  width: 30rem;
  height: 50rem;
  display: grid;
  grid-template-rows: 3 auto;
  grid-template-columns: 1;
  gap: 2rem;
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  padding: 2rem;
}
.PeopleImg {
  height: 10rem;
  border-radius: 50%;
}
.FigureUl {
  align-self: start;
}
.FigureLi {
  font-size: 2rem;
  line-height: 1.6;
  color: #0a5048;
  padding-left: 0rem;
}
.LikeIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

/*************************************/
/* About-What To Do */
/*************************************/

.OtherSection {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  row-gap: 4rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: self-start;
  background-color: #ffffff;
  padding: 10rem 5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.075);
  border-radius: 2rem;
  margin-top: 10rem;
}

.OtherSectionImg {
  width: 100%;
  margin-bottom: 1rem;
}

.OtherSectionFigureCaption {
  font-size: 1.2rem;
}
.WhatToDoGrid {
  display: grid;
  grid-template-columns: 3fr 0.8fr;
  gap: 2rem;
  justify-content: space-between;
}
.SideWhatToDoNav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10rem;
  padding: 10rem 2rem;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.075);
  border-radius: 2rem;
}
.SideWhatToDoNav .SectionParagraph {
  color: #e1c340;
  font-size: 1.2rem;
}
/*************************************/
/* CTA SECTION */
/*************************************/

.SectionCta {
  padding: 4.8rem 0 5rem;
  margin-top: 10rem;
}
.Cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-image: linear-gradient(to right bottom, #a4e8e0, #19c7b5);
  overflow: hidden;
}

.CtaTxtBox {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #214250;
}
.CtaHeading {
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
}
.CtaParagraph {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.CtaForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.FullName {
  grid-column: 1/2;
  grid-row: 1;
}
.Email {
  grid-column: 2/3;
  grid-row: 1;
}
.Ideas {
  grid-column: 1/3;
  grid-row: 2;
}
.FormBtn {
  grid-column: 1/3;
  grid-row: 3;
}
.CtaForm label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.CtaForm input,
.CtaForm select,
.CtaForm textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.CtaForm input::placeholder {
  color: #aaa;
}
.Ideas input {
  width: 100%;
  height: 20rem;
}
.CtaImgBox {
  background-image: linear-gradient(
      to right bottom,
      rgba(164, 232, 224, 0.35),
      rgba(25, 199, 181, 0.35)
    ),
    url("../img/people/Form.jpg");
  background-size: cover;
  background-position: center;
}

/*************************************/
/* Search SECTION  */
/*************************************/

.Search {
  padding: 4.8rem 0 5rem;
}
.SearchArea {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr);
  align-content: center;
  justify-self: center;
  row-gap: 3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-image: linear-gradient(to right bottom, #214250, #0f776d);
  overflow: hidden;
  padding: 4rem;
}

.UplodedIdeaSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-top: 1rem;
}
.UplodedIdeas {
  display: flex;
}
.UplodedIdeas img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.UplodedIdeas img:last-child {
  margin: 0;
}
.UploadedIdeaParagraph {
  font-size: 2.2rem;
  font-weight: 500;
}
.UploadedIdeaParagraph span {
  color: #a4e8e0;
  font-weight: 700;
  padding-left: 1rem;
}

.SearchOther {
  margin: 2rem 10rem;
}
.SearchOther input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  color: #0a5048;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/*************************************/
/* News */
/*************************************/
.News {
  margin-top: 15rem;
}

.NewsMain {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  grid-template-rows: auto;
  column-gap: 1rem;
  justify-items: center;
  justify-content: space-evenly;
  margin-bottom: 10rem;
}

.Newsfigures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  margin-bottom: 6rem;
}

.Newsfigure img {
  width: 40rem;
  margin-bottom: 1rem;
}

.News h1 {
  margin-bottom: 5rem;
  color: #e1c340;
}

.Newsfigure {
  width: 30rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(233, 233, 233);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.NewsfigureTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.Newsfigure h2 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.Newsfigure span {
  color: #ccc;
}

.Newsfigure a {
  color: #e1c340;
}
.NewsSideBar {
  grid-column: 2;
  grid-row: 1/-1;
  font-size: 1.4rem;
  line-height: 3.2rem;
  padding-left: 1rem;
  border-left: 2px solid #e1c340;
}
